﻿
@model IEnumerable<LearningEnglishApp.Models.Test>
@{
    ViewData["Title"] = "Index";
}

<br /><br />


<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Data
            </th>
            <th>
                Pula
            </th>
            <th>
                Ocena
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Pula.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Grade)
                </td>
            </tr>

        }
    </table>
</div>


