﻿
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Lista uczniów</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Dodaj ucznia</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                Usunięty
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                    {
                        <label>Usunięty</label>
                    }
                </td>
            </tr>

        }
    </table>
</div>

