﻿@model LearningEnglishApp.Data.ApplicationUser
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Usuń użytkownika</h2>

<form method="post">
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                Nazwa
            </div>
            <div class="col-5">
                <input asp-for="FirstName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Email
            </div>
            <div class="col-5">
                <input asp-for="Email" readonly class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Usuń" />
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
