﻿
@model LearningEnglishApp.Data.ApplicationUser
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edycja użytkownika</h2>

<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                Nazwa użytkownika
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Edytuj" />
            <a asp-action="Index" class="btn btn-success">Powróć do listy</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

