﻿@model IEnumerable<LearningEnglishApp.Data.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Lista użytkowników</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nowy użytkownik</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Funkcja
            </th>
            <th>
                Nazwa użytkownika
            </th>
            <th>
                Email
            </th>
            <th>
                Usunięty
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Email)
            </td>
            <td>
                @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                {
                    <label>Disabled</label>
                }
            </td>
            <td>
                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                {
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + item.Id).Replace("%2F", "/")">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id).Replace("%2F", "/")">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                }
            </td>

        </tr>

        }
    </table>
</div>

