﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>

<h1>Zarządzaj swoim kontem</h1>

<div>
    <h4>Zmień ustawienia</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
