﻿@model LearningEnglishApp.Models.ViewModel.WordsViewModel
@using LearningEnglishApp.Extensions
@{
    ViewData["Title"] = "Create";
}
<br />
@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["Message"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<br />
<h2 class="text-info">Stwórz słowo</h2>

<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                Po polsku
            </div>
            <div class="col-5">
                <input asp-for="Word.InPolish" class="form-control" />
            </div>
            <span asp-validation-for="Word.InPolish" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Po angielsku
            </div>
            <div class="col-5">
                <input asp-for="Word.InEnglish" class="form-control" />
            </div>
            <span asp-validation-for="Word.InEnglish" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Kategoria tematyczna
            </div>
            <div class="col-5">
                <select asp-for="@Model.Word.AreaCategoryId" asp-items="Model.AreaCategories.ToSelectListItem(Model.Word.AreaCategoryId)" class="form-group"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                Poziom trudności
            </div>
            <div class="col-5">
                <select asp-for="@Model.Word.LevelCategoryId" asp-items="Model.LevelCategories.ToSelectListItem(Model.Word.LevelCategoryId)" class="form-group"></select>

            </div>

        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Stwórz" />
            <a asp-action="Index" class="btn btn-success">Powrót</a>
        </div>
    </div>

</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


