﻿@model LearningEnglishApp.Models.ViewModel.WordsViewModel
@using LearningEnglishApp.Extensions


<br />
<h2 class="text-info">Szczegóły</h2>


    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                Po polsku
            </div>
            <div class="col-5">
                <input asp-for="Word.InPolish" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Po angielsku
            </div>
            <div class="col-5">
                <input asp-for="Word.InEnglish" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Kategoria tematyczna
            </div>
            <div class="col-5">
                <input asp-for="Word.AreaCategory.Area" readonly class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                Poziom trudności
            </div>
            <div class="col-5">
                <input asp-for="Word.LevelCategory.Level" readonly class="form-control" />

            </div>

        </div>
        <br />
        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">Powrót</a>
        </div>
    </div>





