﻿@model IEnumerable<LearningEnglishApp.Models.Word>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista słów</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nowe słowo</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Po angielsku
            </th>
            <th>
                Po polsku
            </th>
            <th>
                Poziom trudności
            </th>
            <th>
                Kategoria tematyczna
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.InEnglish)
            </td>
            <td>
                @Html.DisplayFor(m => item.InPolish)
            </td>
            <td>
                @Html.DisplayFor(m => item.LevelCategory.Level)
            </td>
            <td>
                @Html.DisplayFor(m => item.AreaCategory.Area)
            </td>
            <td>
                <partial name="_ButtonsForTablePartial" model="item.Id" />
            </td>
        </tr>
        }
    </table>
</div>

