﻿@model IEnumerable<WyrazyPula>

</br>
</br>

<div style="border:solid #E0E0E0; border-radius:10px; text-align:center">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <div class="row">
        <div style="margin:auto">
            <section>
                <form method="post">
                    <i style="text-align:center" class="fas fa-5x fa-check-circle"></i>
                    <h4> Udało się wygenerować dla Ciebie test !</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <a class="btn btn-success" asp-action="Test">Rozpocznij</a>
                        </div>
                </form>
            </section>
        </div>
    </div>
</div>