﻿

@model IEnumerable<LearningEnglishApp.Models.GrupyDoPuli>
    @{
    ViewData["Title"] = "Index";
    }

    <br /><br />

    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Pule</h2>
        </div>
    </div>

    <br />
    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    Pula
                </th>
                <th>
                    Data
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Pula.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Pula.Data)
                <td>
                    <a class="btn btn-outline-info" asp-action="GenerateTest" asp-route-pulaId="@item.Pula.Id">Generuj nowy test!</a>
                </td>
            </tr>
        }
        </table>
    </div>



