﻿@model Word
</br>
</br>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
    <div id="player">
        <audio autoplay hidden>
            <source src="~/sound/1111.wav" type="audio/wav">
            If you're reading this, audio isn't supported.
        </audio>
    </div>
}
@if (TempData["NoSuccess"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["NoSuccess"]
    </div>
    <div id="player">
        <audio autoplay hidden>
            <source src="~/sound/1686.wav" type="audio/wav">
            If you're reading this, audio isn't supported.
        </audio>
    </div>
}
@if (TempData["Almost"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Almost"]
    </div>
}
@if (TempData["Help"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Help"]
    </div>
}


<div style="border:solid #E0E0E0; border-radius:10px; text-align:center">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <div style="margin:auto">
        <section>
            <form method="post" style="margin:100px">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Sentence" class="form-control" type="text" />
                    <span asp-validation-for="Sentence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input readonly asp-for="InPolish" class="form-control" />
                    <span asp-validation-for="InPolish" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Wpisz słowo po angielsku: </label>
                    <input asp-for="InEnglish" class="form-control" placeholder="Wpisz..." />
                    <span asp-validation-for="InEnglish" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (TempData["Success"] != null || TempData["NoSuccess"] != null)
                    {
                        <a class="btn btn-primary" asp-action="Test">Dalej</a>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit" asp-action="Test">Sprawdź</button>
                        <button class="btn btn-success" type="submit" asp-action="Help">Podpowiedź</button>
                    }

                </div>
            </form>
        </section>
    </div>
</div>