﻿@model IEnumerable<Test>

<br/>
<br/>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        Uczeń : @Html.DisplayFor(m => item.User.Email)
                    </div>
                    <div class="card-body">
                        Pula : <h5 class="card-title">@Html.DisplayFor(m => item.Pula.Nazwa)</h5>
                        Data : <p class="card-text">@Html.DisplayFor(m => item.Date)</p>
                    </div>
                    @if (item.Grade == 0 || item.Grade == null)
                    {
                        <div class="card-footer text-muted">
                            <a asp-action="GradeTest" asp-route-testId="@item.Id" class="btn btn-light">Oceń</a>
                        </div>
                    }
                    else
                    {
                        <div class="card-footer text-muted" style="background-color:white; font-weight:bold;text-align:center;">
                            <h4 style="color:black">@item.Grade</h4>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>