﻿@model LearningEnglishApp.Models.ViewModel.GradeTestViewModel

<br/>
<br/>

<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">@Model.test.Pula.Nazwa</div>
    <div class="card-body text-success">
        <h5 class="card-title">@Model.test.Date , @Model.test.User.Email</h5>
        <p class="card-text">Wynik : @Model.passedQuestionsCount / @Model.allQuestionsCount </p>
    </div>
    <div class="card-footer bg-transparent border-success">
        <form  method="post">
            <input hidden asp-for="test.Id"/>
            <div class="form-group">
                <label >Ocena : </label>
                <input asp-for="test.Grade" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Oceń</button>
            </div>
        </form>
    </div>
</div>