﻿    @model IEnumerable<LearningEnglishApp.Data.ApplicationUser>
    @{
        ViewData["Title"] = "Index";
    }

    <br /><br />

    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Lista Grup</h2>
        </div>
    </div>

    <br />

    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    Grupy
                </th>
                <th>
                    Uczniowie
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Grupa.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        <a asp-action="CheckStudentProgress" class="btn btn-outline-info" asp-route-studentId="@item.Id">Sprawdź postęp</a>
                    </td>
                </tr>
            }
        </table>
    </div>

