﻿@model LearningEnglishApp.Models.LevelCategory
@{
    ViewData["Title"] = "Create";
}
<br />
@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["Message"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<br />
<h2 class="text-info">Stwórz poziom trudności</h2>

<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                Poziom trudności
            </div>
            <div class="col-5">
                <input asp-for="Level" class="form-control" />
            </div>
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Stwórz" />
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>

</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

