﻿@model LearningEnglishApp.Models.LevelCategory
@{
    ViewData["Title"] = "Delete";
}
<br />
<h2 class="text-info">Usuń poziom trudności</h2>

<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                Poziom trudności
            </div>
            <div class="col-5">
                <input asp-for="Level" disabled class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Usuń" />
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>
</form>