﻿@model LearningEnglishApp.Models.LevelCategory
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Szczegóły</h2>


    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                Poziom trudności
            </div>
            <div class="col-5">
                <input asp-for="Level" disabled class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>


