﻿@model LearningEnglishApp.Models.LevelCategory
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-info">Edytuj poziom trudności</h2>

<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Level"></label>
            </div>
            <div class="col-5">
                <input asp-for="Level" class="form-control" />
            </div>
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Edytuj" />
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>
</form>


