﻿@model LearningEnglishApp.Models.Word

<div style="border:solid #E0E0E0; border-radius:10px">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <div class="row">
        <div style="margin:auto">
            <section>
                <form method="post">
                    <h4>Czy chcesz dodać to słowo do puli?</h4>
                    <hr />
                    <div class="col-5">
                        <input asp-for="InPolish" readonly class="form-control" />
                    </div>
                    <div class="col-5">
                        <input asp-for="InEnglish" readonly class="form-control" />
                    </div>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>