﻿@model LearningEnglishApp.Models.ViewModel.GroupsViewModel
</br>
</br>

<div style="border:solid #E0E0E0; border-radius:10px">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <div class="row">
        <div style="margin:auto">
            <section>
                <form  method="post">
                    <input hidden asp-for="GrupyDoPuli.PulaId" />
                    <h4>Dodaj grupy do stworzonej puli.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @foreach (var item in Model.Grupy)
                    {
                        <label asp-for="@item.Nazwa">@item.Nazwa</label>
                        <input type="radio" name="@item.Nazwa" value="@item.Nazwa">
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Następny krok</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>