﻿@model LearningEnglishApp.Models.ViewModel.WordsForBankViewModel
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista słów</h2>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Po angielsku
            </th>
            <th>
                Po polsku
            </th>
            <th>
                Poziom trudności
            </th>
            <th>
                Kategoria tematyczna
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.word)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.InEnglish)
                </td>
                <td>
                    @Html.DisplayFor(m => item.InPolish)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LevelCategory.Level)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AreaCategory.Area)
                </td>
                <td>
                    <a asp-action="AcceptWord" class="btn btn-dark" asp-route-wordId ="@item.Id" asp-route-pulaId="@Model.pulaId"> Dodaj </a>
                </td>
            </tr>
        }
    </table>
</div>


