﻿@model LearningEnglishApp.Models.Pula

</br>
</br>

<div style="border:solid #E0E0E0; border-radius:10px">
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <div class="row">
        <div style="margin:auto">
            <section>
                <form id="account" method="post">
                    <h4>Stwórz nową pulę.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nazwa"></label>
                        <input asp-for="Nazwa" class="form-control" placeholder="Wpisz słowo"/>
                        <span asp-validation-for="Nazwa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Następny krok</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>