﻿

@model IEnumerable<LearningEnglishApp.Models.Pula>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Pule</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Teacher" asp-controller="Pula" asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Dodaj pulę</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Nazwa)
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(m => item.Data)
            <td>
                <a class="btn btn-outline-info" asp-action="ListAllWords" asp-route-pulaId="@item.Id">Szczegóły</a>
            </td>
        </tr>
        }
    </table>
</div>



