﻿

@model IEnumerable<LearningEnglishApp.Models.WyrazyPula>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Słowa w puli</h2>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Po polsku
            </th>
            <th>
                Po angielsku
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Wyraz.InPolish)
            </td>
            <td>
                @Html.DisplayFor(m => item.Wyraz.InEnglish)
            </td>
        </tr>
        }
    </table>
</div>
