﻿@model int

<td style="width:150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+Model).Replace("%2F", "/")">
            <i class="fas fa-user-edit"></i>
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details/"+Model).Replace("%2F", "/")">
            <i class="fas fa-info-circle"></i>
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+Model).Replace("%2F", "/")">
            <i class="fas fa-minus-circle"></i>
        </a>
    </div>
</td>
