﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningEnglishApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" fixed-top>

            <a class="navbar-brand" href="#">
                <img src="~/img/logo.png" width="30" height="30" />
                LearningEnglishApp
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @if (User.IsInRole("Nauczyciel"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Teacher" asp-controller="Student" asp-action="Index">Uczniowie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Teacher" asp-controller="Grupa" asp-action="Index">Grupy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Teacher" asp-controller="Pula" asp-action="Index">Pule</a>
                        </li>
                    }
                    @if (User.IsInRole("Uczeń"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Uczen" asp-controller="Test" asp-action="Index">Pule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Uczen" asp-controller="Progress" asp-action="Index">Moje testy</a>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>
    @if (User.IsInRole("Admin"))
    {
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="sidebar navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">
                        <i class="far fa-user"></i>
                        <span>Użytkownicy</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-folder-open"></i>
                        <span>Kategorie</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="LevelCategory" asp-action="Index">Poziomów</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="AreaCategory" asp-action="Index">Słów</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Words" asp-action="Index">
                        <i class="fab fa-stripe-s"></i>
                        <span>Słowa</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Teacher" asp-controller="Pula" asp-action="Index">
                        <i class="fas fa-expand"></i>
                        <span>Pule</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Teacher" asp-controller="Grupa" asp-action="Index">
                        <i class="far fa-plus-square"></i>
                        <span>Oceny</span>
                    </a>
                </li>
            </ul>
            <div class="container">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>     
    }
    
    <br/>
    <br/>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - LearningEnglishApp
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="https://kit.fontawesome.com/573c98a277.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://kit.fontawesome.com/573c98a277.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
