﻿
<br />

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="~/img/learn1.jpeg" class="d-block w-100" alt="LearningEnglish">
            <div class="carousel-caption d-none d-md-block">
                <h3 style="font-weight:bold; color:white; margin-left:60px; font-family:Georgia;background-color:transparent">  Poznawaj nowe słowa !</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/learn2.jpeg" class="d-block w-100" alt="LearningEnglish">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/learn3.jpeg" class="d-block w-100" alt="LearningEnglish">
            <div class="carousel-caption d-none d-md-block">
                <h3 style="font-weight:bold; font-family:Georgia">Ucz się z sukcesem!</h3>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Poprzedni</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Następny</span>
    </a>
</div>

<br />

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <i class="fas fa-book fa-2x"></i>
                    <h3>Ucz się</h3>
                    <p class="lead mb-0">Ucz się szybciej dzięki pomocniczemu zdaniu!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <i class="fas fa-graduation-cap fa-2x"></i>
                    <h3>Weryfikuj</h3>
                    <p class="lead mb-0">Weryfikuj swoją odpowiedź od razu po wprowadzeniu!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <i class="fas fa-lightbulb fa-2x"></i>
                    <h3>Sprawdzaj postęp</h3>
                    <p class="lead mb-0">Sprawdzaj wyniki swoich testów!</p>
                </div>
            </div>
        </div>
    </div>
</section>
