﻿@model LearningEnglishApp.Models.AreaCategory
@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info">Szczegóły kategorii</h2>


    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                Kategoria
            </div>
            <div class="col-5">
                <input asp-for="Area" disabled class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>
    </div>


