﻿@model IEnumerable<LearningEnglishApp.Models.AreaCategory>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Kategorie słów</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nowa kategoria</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Kategoria
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Area)
                </td>
                <td>
                    <partial name="_ButtonsForTablePartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
</div>



